@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $bgColor;
}

::-webkit-scrollbar-thumb {
  background-color: $mainColor;
  border-radius: 30px;
}

body {
  background-color: $bgColor;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $textColor;
  transition: $mainTransition;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 30px;
}

button {
  cursor: pointer;
}

.container {
  width: 66%;
  margin: auto;
}

.btn {
  margin-top: 20px;
  width: 130px;
  padding: 10px 5px;
  @include dflex(center, center);
  gap: 10px;
  font-size: 15px;
  color: white;
  background: $gradientColor;
  transition: $mainTransition;

  &:hover {
    box-shadow: 5px 5px 20px 0px $mainColor;
  }

  & i {
    color: $mainColor;
    font-size: 25px;
  }
}

.logo {
  color: $mainColor;
  font-size: 1.2rem;
  font-weight: 600;
}

.title {
  color: $textColor;
  margin-bottom: 30px;
}

.content {
  color: $pColor;
}

.tooltip {
  @include dflex(center, center);
  position: absolute;
  z-index: 1;

  &-info {
    background: $gradientColor;
    border-radius: 30px;
    padding: 5px 10px;
    margin-bottom: 30px;
    color: $textColor;
    white-space: nowrap;
  }
}
